<!DOCTYPE html>
<html>
<p class='Buy-me-text'><a href="https://www.amazon.jp/hz/wishlist/ls/3M7E2QC5LQUZP?ref_=wl_share">Buy Me a Beer</a></p></li>
<ul class="flex-box">
  <li class="select-flex-box1"><%= image_tag "ani_s.JPG" %>
    <p class='flex-picture-text'><a href="https://photos.app.goo.gl/KBRP7bsVoniRWHp99">See More Animal Photo</a></p></li>
  <li class="select-flex-box1"><%= image_tag "lak_s.JPG" %>
    <p class='flex-picture-text'><a href="https://photos.app.goo.gl/qctuJ3TDfqstgiQ3A">See More Lake Photo</a></p></li>  
  <li class="select-flex-box1"><%= image_tag "mah_s.JPG" %>
      <p class='flex-picture-text'><a href="https://photos.app.goo.gl/bNw3LeDb4owizpFH6">See More Manhole Photo</a></p></li>  
  <li class="select-flex-box2"><%= image_tag "oth_s.JPG" %>
      <p class='flex-picture-text'><a href="https://photos.app.goo.gl/smAgFAfsSv3TPSzg7">See More Buy Other Photo</a></p></li>  
  <li class="select-flex-box2"><%= image_tag "sce_s.JPG" %>
      <p class='flex-picture-text'><a href="https://photos.app.goo.gl/CAyRSjg58x1p7Vao8">See More Scenery Photo</a></p></li>  
  <li class="select-flex-box2"><%= image_tag "sea_s.JPG" %>
      <p class='flex-picture-text'><a href="https://photos.app.goo.gl/uPJaYJegweeKQdfN6">See More Sea Photo</a></p></li>   
  </ul>
</div>