<!DOCTYPE html>
<html>
<ul class="flex-box">
  <li class="select-flex-box1"><%= image_tag "ani_s.JPG" %>
    <p class='flex-picture-text'><a href="animal/index.html"> Animal</a></p></li>
  <li class="select-flex-box1"><%= image_tag "lak_s.JPG" %>
    <p class='flex-picture-text'><a href="photo/index.html"> Lake</a></p></li>  
  <li class="select-flex-box1"><%= image_tag "mah_s.JPG" %>
      <p class='flex-picture-text'><a href="photo/index.html"> Manhole</a></p></li>  
  <li class="select-flex-box2"><%= image_tag "oth_s.JPG" %>
      <p class='flex-picture-text'><a href="photo/index.html"> Other</a></p></li>  
  <li class="select-flex-box2"><%= image_tag "sce_s.JPG" %>
      <p class='flex-picture-text'><a href="photo/index.html"> Scenery</a></p></li>  
  <li class="select-flex-box2"><%= image_tag "sea_s.JPG" %>
      <p class='flex-picture-text'><a href="photo/index.html"> Sea</a></p></li>   
  </ul>
</div>